<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Multi-Ethnic Center for Ministry</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
        <link href='css/normalize.css' rel='stylesheet'>
        <link href="css/MEC4R.css" rel="stylesheet">
        <link href="css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    </head>        
    <body class="landing">
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header" class="alt">
        
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="aboutus">About Us</a></li>
                            <li><a href="http://nodebb-anything2016.rhcloud.com/">Community</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#footer">Contact</a></li>
                            <li><a href="#" class="button">Login</a></li>
                        </ul>
                    </nav>
                </header>
        
            {{{body}}}


            <!-- Footer -->
                <footer id="footer">
                    <ul class="icons">
                        <li><a href="tel:18625791017" class="icon fa-phone"><span class="label">Phone</span></a></li>
                        <li><a href="mailto:Mecm4ministry@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    </ul>

                    <p>Multi-Ethnic Center for Ministry </br>
                        Gilbert House </br>
                    36 Madison Ave </br>
                   Madison, NJ 07940 </p>
                   


                    <ul class="copyright">
                        <li>&copy; Owl Hands</li>
                    </ul>
                </footer>  

        </div>
        <script src="js/jquery.min.js"></script>
        <script src='js/bootstrap.min.js'></script>     
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="//localhost:35729/livereload.js"></script>
        <script src="js/jquery.dropotron.min.js"></script>
        <script src="js/jquery.scrollgress.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/util.js"></script>
        <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
        <script src="js/main.js"></script>
        <!-- Add venobox -->
        <link rel="stylesheet" href="css/venobox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="js/venobox.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                /* default settings */
                $('.venobox').venobox(); 


                /* custom settings */
                $('.venobox_custom').venobox({
                    framewidth: '400px',        // default: ''
                    frameheight: '300px',       // default: ''
                    border: '10px',             // default: '0'
                    bgcolor: '#5dff5e',         // default: '#fff'
                    titleattr: 'data-title',    // default: 'title'
                    numeratio: true,            // default: false
                    infinigall: true            // default: false
                });

                /* auto-open #firstlink on page load */
                $("#firstlink").venobox().trigger('click');
            });
        </script>
    </body>
</html>

