<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Multi-Ethnic Center for Ministry</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
        <link href='css/normalize.css' rel='stylesheet'>
        <link href="css/MEC4R.css" rel="stylesheet">
        <link href="css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    </head>        
    <body class="landing">
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header" class="alt">
        
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="aboutus">About Us</a></li>
                            <li><a href="http://nodebb-anything2016.rhcloud.com/">Community</a></li>
                            <li><a href="#footer">Contact</a></li>
                            <li><a href="#" class="button">Login</a></li>
                        </ul>
                    </nav>
                </header>
        
            {{{body}}}


            <!-- Footer -->
                <footer id="footer">
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                    </ul>

                    <p>Multi-Ethnic Center for Ministry </br>
                    3117 Broadway, Ste 4 </br>
                    New York, NY 10027 </p>


                    <ul class="copyright">
                        <li>&copy; Owl Hands</li>
                    </ul>
                </footer>  

        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src='js/bootstrap.min.js'></script>     
        <script src="//localhost:35729/livereload.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.dropotron.min.js"></script>
        <script src="js/jquery.scrollgress.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/util.js"></script>
        <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
        <script src="js/main.js"></script>
    </body>
</html>

