<section id="main" class="container">
		<img src="images/blacklivesmatter2.jpg" id="pianoMan" class="img-responsive img-rounded" />
	
	<div class="box">
		
		<h3>About the Multi-Ethnic Center for Ministry</h3>
		<p>We are a vital resource for nurturing and developing multicultural values, ministries and leadership in the Northeastern Jurisdiction of The United Methodist Church.</p>
		<p>Since 1978 the MECM has engaged in helping to break down barriers of racism and build up bridges of progressive, cooperative ministry among racial-ethnic groups in the jurisdiction and beyond.</p>
		<p>We provide information, strategic counsel, ministry training, advocacy, organizing and networking support and other valued services. Our work relies on critical partnerships with United Methodist program agencies, NEJ bishops and other leaders of United Methodist conferences, seminaries and racial-ethnic caucuses and initiatives in the region.</p>

		<hr />

		<img src="images/artpressley2.jpg"  id="historyPic" class="img-responsive img-rounded"/>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h5 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Goals of the Multi-Ethnic Center for Ministry
		        </a>
		      </h5>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        <ul>
					<li>Promote and respond to the ministry needs, assets, traditions, challenges and opportunities of African American, Asian-American, Hispanic/Latino/a, Pacific Islander, Native American and multiracial communities.</li>
					<li>Identify and train persons for multiethnic ministry in collaboration with annual conferences and United Methodist seminaries in the NEJ: Boston University and Drew University schools of theology, and Wesley Theological Seminary.</li>
					<li>Provide training opportunities, networking and resources to recruit, equip, strengthen and retain multiethnic leadership.</li>
					<li>Help churches and related organizations align multicultural values with their mission, vision and strategic focus.</li>
					<li>Provide experiences and settings in which persons can engage in dialogue and action around multiethnic and anti-racism ministries and concerns.</li>
					<li>Provide information, research and linkages to other interfaith, multiethnic organizations and agencies.</li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h5 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          History of the Multi-Ethnic Center for Ministry
		        </a>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		        <p>Established in 1978 at Drew University School of Theology, in Madison, NJ, the Multi-Ethnic Center for Ministry arose from the Civil Rights Movement as a vanguard in addressing historic racism in the church and in society. Its mission has been to help develop critically needed multi-racial/ethnic leaders, resources and ministries throughout United Methodism’s Northeastern Jurisdiction.</p>
				<p>The Center was created to remove barriers and build bridges of progressive, prophetic ministry among races and cultures. For three decades it has forged vital partnerships with seminaries, church agencies, conferences, caucuses and the NEJ College of Bishops to help enlist, educate and equip diverse clergy and lay leaders to serve the needs of an evolving church in a changing culture.</p>
				<p>In sponsoring dialogues and ministry events, nurturing leaders and collaborating with partners, the Center itself has evolved in its strategies, relationships and leadership. The Revs. William B. McClain and William James were among the first in a procession of transformational leaders who have labored in locations around the jurisdiction, working alongside dedicated board members.</p>
				<p>Today we strive to become a 21st century Center for Excellence working toward reconciliation among many diverse peoples and renewing our Wesleyan mission to make disciples of Jesus Christ for the transformation of God’s multiethnic, multicultural world.</p>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h5 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Our Ministry Partners
		        </a>
		      </h5>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		        <strong>UMC Seminaries in the NEJ:</strong> </br>
		        <a href="http://www.bu.edu/sth/">Boston University School of Theology </a></br>
		        <a href="http://www.drew.edu/theological/">Drew University Theological School </a> </br>
		        <a href="https://www.wesleyseminary.edu/">Wesley Theological Seminary </a></br></br>
		        

		        <strong>UMC General Agencies & Initiatives:</strong> </br>
		        <a href="http://www.gbhem.org/">General Board of Higher Education and Ministry</a></br>
		        <a href="https://umc-gbcs.org/">General Board of Church and Society</a></br>
		        <a href="http://www.gcorr.org/">General Commission on Religion and Race</a></br>
		        <a href="#">Korean American Ministries/Mission</a></br>
		        <a href="http://www.sbc21.org/">Strengthening the Black Church for the 21st Century</a></br></br>
		        

		        <strong>Northeastern Jurisdiction:</strong></br>
		        <a href="#">Annual Conferences </a></br>
		        <a href="#">College of Bishops </a></br>
		        <a href="#">Directors of Connectional Ministries </a></br>
		        <a href="#">Urban Ministry Steering Network</a></br></br>
		        

		        <strong>Racial-Ethnic Caucuses (NEJ):</strong><br>
		        <a href="http://www.bmcrumc.org/">Black Methodists for Church Renewal</a></br>
		        <a href="http://www.nfaaum.org/">Federation of Asian-American United Methodists</a></br>
		        <a href="#">Hispanic/Latino/Latina Ministries Task Force</a> </br>
		        <a href="#">Korean-American Ministries Task Force</a> </br>
		        <a href="#">Native American Ministries Task Force </a></br>
		        <a href="#">Inter-Ethnic Strategy Development Group</a></br></br>
		        

		        <p><i><strong>We continue to seek and welcome new partners in this vital work of multi-ethnic ministry.</strong></i>
		        </p>
		      </div>
		    </div>
		  </div>
		</div>
		
		


		
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-sm-4">
		    <a class="venobox" data-type="inline" title="Bishop Alfred Johnson" href="#profile1"><img src="images/bishopAlfredJohnson.jpg" alt="image alt"/></a>
		    <div id="profile1" class="hidden">
		    	<img src="images/bishopAlfredJohnson.jpg">
		    	<p> Go home and die </p>
		    </div>
		</div>
		<div class="col-sm-4">
		    <a class="venobox" data-type="inline" title="Bishop Alfred Johnson" href="#profile1"><img src="images/bishopAlfredJohnson.jpg" alt="image alt"/></a>
		    <div id="profile1" class="hidden">
		    	<img src="images/bishopAlfredJohnson.jpg">
		    	<p> Go home and die </p>
		    </div>
		</div>
		<div class="col-sm-4">
		    <a class="venobox" data-type="inline" title="Bishop Alfred Johnson" href="#profile1"><img src="images/bishopAlfredJohnson.jpg" alt="image alt"/></a>
		    <div id="profile1" class="hidden">
		    	<img src="images/bishopAlfredJohnson.jpg">
		    	<p> Go home and die </p>
		    </div>
		</div>
	</div>
	
	</div>
	

</section>