
<!-- Banner -->
                <section id="banner">
                    
    
                </section>

            <!-- Main -->
                <section id="main" class="container">

                    <section class="box special">
                        <header class="major">
                            <h2 id="bannerHeader">Multi-Ethnic Center
                
                            for Ministry</h2>
                            <p>"We who are many are one body in Christ and individually members of one another."
                                </br> —Romans 12:5</p>
                        </header>
                        <span class="image featured"><img src="images/boardofdirectors_2015.jpg" alt="" /></span>
                    </section>

                    <section class="box special features">
                        <div class="features-row">
                            <section>
                                <span class="icon major fa fa-globe fa-2x accent2"></span>
                                <a href="#"> <h3 class="forumLinks">Local Events</h3></a>
                            <p>Find out about local events in your district. Better yet, host an event and let the Ministry community know about it!</p>
                            </section>
                            <section>
                                <span class="icon major fa fa-newspaper-o fa-2x accent3"></span>
                                <a href="#"><h3 class="forumLinks">Breaking News</h3></a>
                                <p>Fresh news from the Center for Ministry.</p>
                            </section>
                        </div>
                        <div class="features-row">
                            <section>
                                <span class="icon major fa-cloud fa-2x accent4"></span>
                                <a href="#"><h3 class="forumLinks">Share Resources</h3></a>
                                <p> Share anything with the community that might be of value to them.</p>
                            </section>
                            <section>
                                <span class="icon major fa-users fa-2x accent5"></span>
                                <a href="#"> <h3 class="forumLinks">Introduce Yourself</h3></a>
                                <p>New to the community? Introduce yourself and tell us about your organization.</p>
                            </section>
                        </div>
                    </section>

                    
                </section>

            


