<div class='container master'>
        <div class='row'>
            <img id='homePic' src='img/bobBookCover.jpg' class='img-responsive' alt='Landing Page'>
        </div>
        <div id='contact' class='row'>
            <div class='col-md-12'>
                <a href="mailto:rmagee0227@gmail.com"><i class="fa fa-envelope fa" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/vivas89"><i class="fa fa-facebook fa" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter fa" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram fa" aria-hidden="true"></i></a>
        </div>
</div>
